$fG1: #313346 //#6a3093
$fG2: #182234 //#a044ff

body
  font-family: Segoe UI, apple-system-font, Roboto, Helvetica, Arial, Sans-serif

.menuNav
  border-bottom: 1px solid rgba(255,255,255,0.15)
  padding-bottom: 64px
  margin-bottom: 32px
  a
    color: #fff
    margin: 2rem
    &:last-child
      margin-right: 0
    &:hover
      opacity: .75

.bg.header
  background: $fG1
  background: -webkit-linear-gradient(100deg, $fG1 , $fG2)
  background: linear-gradient(100deg, $fG1 , $fG2)
  color: #fff
  .card
    color: #111
    padding: 20px
    h1,h2,h3,h4,h5,h6
      text-align: center
      padding-bottom: 12px
      border-bottom: 1px solid rgba(0,0,0,0.1)
  h1
    font-weight: 400
    text-shadow: 0 2px 4px rgba(0,0,0,0.3)
